@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    transition: background .5s;
    background: #000;
    color: aliceblue;
}

#mode {
    transform: scale(.8);
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    background-color: #fff;
    padding: 3px;
    transition: background 1s;
}

.mode {
    cursor: pointer;
}

.ligado {
    background-color: #111;
    border-radius: 15px;
}

.ligado>svg>path {
    fill: #fff;
}

.desligado>svg {
    transform: scale(.7);
}

#mode>hr {
    margin: 5px auto;
    border: 0;
    width: 70%;
    height: 2px;
    background-color: #111;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container>div:first-child {
    transform: scale(1.3);
    padding: 20px;
    background: #000;
    border-radius: 20px;
    display: block;
    border: 2px solid aqua;
    box-shadow: 0px 0px 5px aqua;
    transition: background 1s;
}

button, input, label, input {
    display: block;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: transparent;
    color: white;
    border-radius: 10px;
}

form>legend {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    color: aqua;
    font-weight: bold;
}

label {
    border: 0;
    margin-bottom: -10px;
    color: aqua;

}

input {
    background-color: #444;
    color: white;
}

input:focus {
    padding: 9px;
    outline: 0;
    border: 2px solid aqua;
    box-shadow: 0px 0px 5px aqua;
    background-color: #000;
    color: aqua;
}


input::placeholder {
    color: #999;
}

button {
    margin-top: 20px;
    color: aqua;
    background-color: #000;
    border: 2px solid aqua;
    box-shadow: 0px 0px 5px aqua;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    color: chartreuse;
    border-color: chartreuse;
    box-shadow: 0px 0px 5px chartreuse;
}

.area-click {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(17, 17, 17, 0.568);
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    z-index: 1;
    display: inline-block;
    background-color: rgb(11, 11, 11);
    padding: 30px;
    position: relative;
    transform: scale(.9);
    border: 1px solid white;
}

.click {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 1.7rem;
    border-radius: 50%;
    padding: 5px;
    transition: border .1s;
}

.click:hover {
    border: 2px solid white;
}

table {
    border: 3px solid blue;
    padding: 5px;
    font-size: .89rem;
    margin-bottom: 10px;
}

th {
    background: rgb(44, 44, 163);
    padding: 5px;
    color: #fff;
}

tr>td:first-child {
    background-color: rgba(105, 105, 236, 0.601);
    border: 1px solid transparent;
}

#abaixo>td:last-child{
    color: rgb(197, 232, 145);
    
}
#ideal>td:last-child {
    color: greenyellow;
}
#levemente-acima>td:last-child {
    color: rgb(87, 128, 0);
}
#grauI>td:last-child {
    color: rgb(128, 117, 0);
}
#grauII>td:last-child {
    color: rgb(128, 34, 0);
}
#grauIII>td:last-child {
    color: rgb(128, 0, 0);
}

td {
    border: 1px solid white;
    padding: 5px;
    font-weight: bold;
}

#div-result {
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

#title-result {
    font-size: 1.3rem;
    font-weight: bold;
}

#p-result {
    color: aliceblue;
}

span#result {
    color: rgb(224, 232, 75);
}

.aviso {
    text-transform: uppercase;
}

/* LIGHT MODE */

.legend {
    color: orangered;
}

.light-mode-body {
    background-color: rgb(121, 160, 160);
}
.light-mode-body>#mode {
    background-color: rgb(7, 51, 51);
}
.light-mode-body>#mode>.light-mode {
    background-color: orangered;
}

.light-mode-body>#mode>.light-mode>svg>path {
    fill: rgb(7, 51, 51);
}
.light-mode-body>#mode>.dark-mode>svg>path {
    fill: orangered;
}
.light-mode-body>#mode>hr {
    background-color: white;
}

.light-mode-body>.container>div:first-child {
    background-color: rgb(7, 51, 51);
    box-shadow: 0px 0px 5px orangered;
    border: 2px solid orangered;
}

.light-mode-body form> label{
    color: orangered;
    font-weight: bold;
}

.light-mode-body form> input {
    border-color: orangered;
    background-color: #000;
}
.light-mode-body form> input:focus {
    box-shadow: 0px 0px 5px orangered;
    color: orangered;
}

.light-mode-body>.container>div:first-child>form>button {
    background-color: orangered;
    border: none;
    box-shadow: none;
    color: #111;
    font-weight: bold;
}

.light-mode-body>.container>div:first-child>form>button:hover {
    box-shadow: 0px 0px 5px orangered;
}

.light-mode-body .modal {
    background-color: #fff;
}
.light-mode-body .modal table {
    background-color: rgb(6, 6, 6);
}
.light-mode-body #p-result, #result {
    color: #111;
}
.light-mode-body .aviso {
    background-color: #111;
}
